.files{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.mdl-list__item:hover{
    background-color: #aaa;
    color: #424242!important;
}

.demo-list-item {
    width: 300px;
}

.autocomplete-options{
    position: absolute;
    display: none;
    width: 300px;
    z-index: 100;
    background-color: #fff;
    margin-left: calc((100% - 300px)/2);
}

.autocomplete-options ul{
    padding: 0px;
}

.autocomplete-options li{
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
}

.autocomplete-options li:hover{
    background-color: #eee;
    font-weight: bold;
}

.mdl-data-table{
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: normal;
    font-size: 13px;
    background-color: #fff;
}